nav#menu ul{
    text-transform: uppercase; /*tranforma em caixa alta*/
    list-style: none;
    position: absolute;
    top: 40px;
    left: 600px;
    
}

nav#manu{
    display:block
}

nav#menu li{
    display: inline-block;
    background-color:   rgb(143, 130, 209);
    padding: 20px;
}

nav#manu h1{ 
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(226, 226, 255);
    margin: 0px; /*Coloca a margem em zero*/
}
header{
    background-color: rgb(163, 147, 235);
    padding-top: 1px;
    padding-bottom: 30px;
    position: relative;
    
}

img{
    width: 30%;
    left: 60px;
    top: 250px;
}
h2{
    background-color: blueviolet;
    color: white;
    text-align: center;
}
nav#menu a:link{
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
nav#menu a:visited{
    color: white;
}
nav#menu a:hover{
    color: blueviolet;
    transition: all 0.5s ease;
}

h1{
    color: rgb(255, 255, 255);
    font-size:60px;
    font-weight: bold;

    
}

h3{
    font-size: 50px;
}



